.App {
  font-family: inter;
  text-align: center;
  scroll-behavior: smooth;
}

.snap-container {
  position: relative;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  height: 100vh;
  width: 100%;
}